<div>
  <div>
    <h4>Logged-in as: <span>{{identity || 'None'}}</span></h4>
  </div>

  <audio #remoteAudio autoPlay></audio>

  <h4><span>{{status}}</span></h4>
  <br/><br/>

  <div [hidden]="!shouldShowButtonsOnIncomingCall()">
    <button (click)="accept()">Accept</button>
    <button (click)="decline()">Decline</button>
    <br/><br/>
  </div>

  <button [hidden]="!shouldShowCallActions()" (click)="toggleCameraVideo()">Toggle Camera Video</button>
  <button [hidden]="!shouldShowCallActions()" (click)="toggleShareScreen()">Toggle Share Screen</button>
  <br/><br/>

  <button [hidden]="!shouldShowCallActions()" (click)="hangup()">Hangup</button>
  <br/><br/>

  <div [hidden]="!shouldShowRemoteVideos()">
    <h3>Remote videos/screenshares</h3>
    <video *ngFor="let videoElement of remoteVideos"
           [srcObject]="videoElement.video"
           width="300" height="300"
           style="object-fit: cover" autoPlay>
    </video>
  </div>

  <div [hidden]="!shouldShowLocalVideos()">
    <h3>Local video/screenshare</h3>
    <video #localCameraVideo autoplay muted
           style="object-fit: cover"
           width="300" height="300">
    </video>
    <video #localScreenShare autoplay
           style="object-fit: cover"
           width="300" height="300">
    </video>
  </div>
</div>
