<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Infobip RTC Showcase</title>
</head>
<body>
<div>
  <h2>{{title}}</h2>
  <h4>Logged as: <span>{{identity || 'None'}}</span></h4>
</div>
<div>
  <audio #remoteAudio autoPlay></audio>
  <input type="text" (change)="onChange($event)" placeholder="Enter destination to call..."/>
  <br/> <br/>
  <button [disabled]="activeCall" (click)="call(false)">Call</button>
  <button [disabled]="activeCall" (click)="call(true)">Video Call</button>
  <button [disabled]="!activeCall" (click)="toggleShareScreen()">Toggle Share Screen</button>
  <button [disabled]="activeCall" (click)="callPhoneNumber()">Call Phone Number</button>
  <br/><br/>

  <h4><span>{{status}}</span></h4>
  <button [disabled]="shouldDisableButtonsOnIncomingCall()" (click)="accept()">Accept</button>
  <button [disabled]="shouldDisableButtonsOnIncomingCall()" (click)="decline()">Decline</button>
  <br/><br/>

  <button [disabled]="shouldDisableHangupButton()" (click)="hangup()">Hangup</button>
  <br/><br/>

  <div *ngIf="iPhoneOrIpad">
    <button (click)="unmuteVideo()">Tap to Unmute</button>
    <br/><br/>
  </div>

  <video #remoteVideo autoplay
         style="object-fit: cover"
         width="700" height="700">
  </video>
  <video #localVideo autoplay muted
         style="object-fit: cover"
         width="700" height="700">
  </video>
</div>
</body>
</html>
